<h1 align="center"> Epic L0L BATTLE!! XDDD </h1>
<h2 align="center"> Please, use this FANCY FORM to ENTER!!! </h2>

<form align="center" action="./names" method="post">
  <input type="text" name="player_1_name" placeholder="Player 1???">
  <input type="text" name="player_2_name" placeholder="Player 2???">
  <input type="submit" name="Submit" value="LETS L0L FIGHT!">
</form>
